
html{
    --bookInfoContainer-display:none;
    --button-display:block;
}
.postBox{
    /* border: solid 1px #000 ; */
    width:50vw;
    min-width: 320px;
    min-height: 50vh;
    margin: 30px auto;
    padding: 30px;
    word-break:break-all
}
.line{
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    margin:10vh 0;
}
.bookInfoBox{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    min-height: 20vh;
    border:1px solid black;    
    padding:8px;
    margin: 30px auto;
    overflow: hidden; /* 내부 요소가 벗어나지 않도록 처리 */
}
@media (max-width: 600px) {
    .bookInfoBox{
        width:100vw;
    }
}

ul{
    list-style-type: none;
}
.bookInfoContainer{
    display: var(--bookInfoContainer-display);
}
.stateButton{
    display:var(--button-display);
    margin:auto auto;
}

.buttoncontainer {
    display: auto;
}
/* .editButtons {
    flex: 1;
    align-items: center;
    border: 1px solid white;
    background-color: gainsboro;
    margin-right: 10px;
    height: 30px; 
    width: 100px;
} */
.editButtons{
    border-radius: 45px;
}
.editButtons:hover{
    background-color: #fff;
}
