*{
  box-sizing: border-box;
}
.postPageRootContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  min-height:90vh;
  /* background-color: antiquewhite; */
}
.post-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:50vw;
  height: 100%;
  background-color: #fff;
}
@media(max-width:600px){
  .post-page-container{
    width:100vw;
  }
}
.titleContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.title-input {
  /* display: auto; */
  border: 1px solid white;
  font-size: 24px;
  /* margin-right: 20px;  */
  /* margin-left: 20px; */
  height: 70px;
  width:100%;
  /* text-decoration: underline; */
}
.post-search-button{
  min-width: 60px;
}
.editor-container {
  width: 100%;
  /* min-height: 300px; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
}

.ck ck-sticky-panel {
  width: inherit;
}

.ck-editor__editable {
  width: inherit;
  height: 50vh;
  /* min-height: 300px;
  max-height: 50vh; */
  overflow:visible;
}


.book-search-input {
  /* display: auto; */
  border: 1px solid white;
  font-size: 24px;
  /* margin-right: 20px; */
  margin-top: 41px; 
  width:100%;
}

/* 검색된 책 목록 */
.searched-books {
  margin-top: 42px; 
}

.book-info {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-info:hover {
  background-color: #f0f0f0;
}

.book-info.selected {
  background-color: #d3d3d3;
}
