.fragmentBody{
    border: solid 1px #2c2c2c;
    width:50vw;
    max-height: 250px;
    margin: 30px auto;
    padding: 30px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */

    border-radius: 5px;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}


@media (max-width: 600px) {
    .fragmentBody{
        width:100vw;
    }
}
.fragmentBody:hover{
    cursor:pointer;
}
