.post-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input {
  display: auto;
  border: 1px solid white;
  font-size: 24px;
  margin-right: 20px; 
  margin-left: 20px;
  height: 70px; 
}

/*정해진 .ck-editor__editable를 써야 content style을 자유롭게 편집 가능.*/
.ck-editor__editable { 
  margin-left: auto;
  margin-right: auto;
  width: 98.5%;
  height: 350px; 
}

.button-container {
  display: auto;
}

.post-search-button {
  flex: 1;
  align-items: center;
  border: 1px solid white;
  background-color: gainsboro;
  margin-right: 10px;
  height: 30px; 
  width: 100px;
}

.book-search-input {
  display: auto;
  border: 1px solid white;
  font-size: 24px;
  margin-right: 20px;
  margin-top: 41px; 
}

/* 검색된 책 목록 */
.searched-books {
  margin-top: 42px; 
}

.book-info {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-info:hover {
  background-color: #f0f0f0;
}

.book-info.selected {
  background-color: #d3d3d3;
}
