 .title-input {
    flex: 1; 
    font-size: 24px;
    margin-right: 20px; 
  }

  .post-page-container {
    display: flex;
    flex-direction: column;
  }
  
  .title-button-container {
    display: flex;
    align-items: center; 
  }
  
  .title-input {
    flex: 1;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
  }
  
  .save-draft-button,
  .post-button {
    flex: 1;
    margin-right: 10px;
    height: 30px; 
    width: 100px;
  }
  
  
