/* 기존 CSS */
html{
    --error-display:none;
}
.signInBody{
    width:30vw;
    height:80vh;
    min-width: 233px;
    margin:auto auto;
    box-shadow: 0px 0px 5px #444;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width:8vw;
    min-width: 100px;
    aspect-ratio: 1/1;
    background-image: url("../imgs/logo.svg");
    background-size: cover;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.error{
    color: red;
    display: var(--error-display);
}
.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100px;
}
button{
    border-radius: 48px;
    font-size :1.1em;
    border:1px solid #E3E5E5;
    display: flex; /* 버튼 내에서 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: #fff;
    padding: 10px 35px;
}

.googleButton svg{
    margin-right: 10px; /* 로고와 텍스트 사이의 간격 조정 */
}

.googleButton span{
    font-size: 1.1em; /* 텍스트 글자 크기 조정 */
}
