/* 기존 CSS */
html{
    --error-display:none;
}
.signInBody{
    width:30vw;
    height:80vh;
    min-width: 233px;
    margin:auto auto;
    /* box-shadow: 0px 0px 5px #444; */
    border: solid 1px #000 ;
    border-radius: 5px;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width:8vw;
    min-width: 100px;
    aspect-ratio: 1/1;
    background-image: url("../imgs/logo.svg");
    background-size: cover;
}
.signInLogoName{
    font-size:3em;
    padding-bottom: 10px;
    
}
.logoNameBox{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.error{
    color: red;
    display: var(--error-display);
}
.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100px;
}

.toMainButton{
    /* border-radius: 48px; */
    font-size :1.1em;
    border:1px solid #fff;
    /* border-bottom: 1px solid #000; */
    display: flex; /* 버튼 내에서 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: #fff;
    padding: 10px 35px;
    font-family: 'GyeonggiBatang',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-decoration: underline;
}
.toMainButton:hover{
    cursor:pointer;
}
.googleButton{
    border-radius: 48px;
    font-size :1.1em;
    border:1px solid #fff;
    display: flex; /* 버튼 내에서 flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    background-color: #fff;
    padding: 10px 35px;
    
    
}
.googleButton:hover{
    cursor: pointer;
}
.googleButton svg{
    margin-right: 10px; /* 로고와 텍스트 사이의 간격 조정 */
}

.googleButton span{
    font-size: 1.1em; /* 텍스트 글자 크기 조정 */
    font-family:'GyeonggiBatang',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;font:'GyeonggiBatang',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-decoration: underline;
}
