
.toolbarBody{
    width: 100vw;
    height:10vh;
    background-color: #fcfcfc;

    display: flex;
    flex-direction: row;

    position:fixed;
    top:0;

    /* border-bottom: 1px solid #181818; */
    /* border-radius: 0px 0px 20px 20px; */
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}
.box{
    display:flex;
    flex-direction: row;
}
#lBox{
    justify-content: flex-start;
    flex-grow: 2;
    align-items: center;

}
#logoBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}
@media (min-width: 800px) {
    #logoBox { 
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
    } 
}


#rBox{
    justify-content: flex-end;
    flex-grow: 2;
    display: flex;
    align-items: center;
}
